@layer reset, app;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  html {
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: 100%;
  }

  body {
    margin: 0;
  }

  h1,
  li,
  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

@layer app {
}
